$strelit-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z'/%3E%3C/svg%3E");
$strelit-icon-maximise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3 2.25h10c.41 0 .75.34.75.75v10c0 .41-.34.75-.75.75H3a.75.75 0 01-.75-.75V3c0-.41.34-.75.75-.75zm.75 1.5v8.5h8.5v-8.5h-8.5z'/%3E%3C/svg%3E");
$strelit-icon-minimise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3 7.25h10a.75.75 0 010 1.5H3a.75.75 0 010-1.5z'/%3E%3C/svg%3E");
$strelit-icon-popout: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M9 2.25h4c.41 0 .75.34.75.75v4a.75.75 0 01-1.5 0V4.81L7.53 9.53a.75.75 0 11-1.06-1.06l4.72-4.72H9a.75.75 0 010-1.5zM3 4.25h3a.75.75 0 010 1.5H3.75v6.5h6.5V10a.75.75 0 011.5 0v3c0 .41-.34.75-.75.75H3A.75.75 0 012.25 13V5c0-.41.34-.75.75-.75z'/%3E%3C/svg%3E");
$strelit-icon-popin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.25 3c0-.41.34-.75.75-.75h10c.41 0 .75.34.75.75v10c0 .41-.34.75-.75.75H8a.75.75 0 010-1.5h4.25v-8.5h-8.5V8a.75.75 0 01-1.5 0V3zm5.22 3.47a.75.75 0 011.06 0l2 2a.75.75 0 010 1.06l-2 2a.75.75 0 11-1.06-1.06l.72-.72H3a.75.75 0 010-1.5h5.19l-.72-.72a.75.75 0 010-1.06z'/%3E%3C/svg%3E");

@mixin strelit-icon-mask($image, $color) {
  background-color: $color;
  background-image: none;
  -webkit-mask-image: $image;
  mask-image: $image;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
